.icon-file 
  width 1.5em
  height 2em
  background-color $mainColor
  border-radius .1em
  position relative
  &:before 
    content ''
    display block
    position absolute
    z-index 2
    right 0
    top 0
    border-width .3em
    border-style solid
    border-color #fff #fff #85D1E8 #85D1E8
  &:after 
    content 'doc'
    position absolute
    bottom .2em
    left 0
    font-size .7em
    color #fff