.icon-mail
    width 1.2em
    height .8em
    margin .1em 0
    position relative 
    border .1em solid $mainColor 
    overflow hidden
    &:before 
        content ''
        display block
        width 2em
        height 2em 
        margin-top -1.5em
        margin-left -.46em
        border @border
        transform rotate(45deg) skew(-20deg, -20deg)
    