.icon-mail
  width 1em
  height .7em
  margin .15em 0
  position relative 
  border .1em solid $mainColor 
  overflow hidden
  &:before 
    content ''
    display block
    width 2em
    height 2em 
    margin-top -1.6em
    margin-left -.58em
    border @border
    transform rotate(45deg) skew(-20deg, -20deg)
    