
.icon-menu 
    width 1em 
    height 1em
    padding .15em 0
    &:after 
        content ''
        display block
        height .7em
        width 100%
        background linear-gradient($mainColor 0%, $mainColor 20%, transparent 20%, transparent 40%, $mainColor 40%, $mainColor 60%, transparent 60%, transparent 80%, $mainColor 80%)