
.icon-progress
  position relative
  width 1em 
  height 1em
  &:after
  &:before 
    content ''
    position absolute
    top 0
    left 0
    width @width
    height @height
    border .1em solid $mainColor
    border-radius 50%

  &:after 
    clip rect(0 1em 1em .5em)
    animation progress-right .5s linear

  &:before  
    clip rect(0 .5em 1em 0)
    animation progress-left 1s linear
 
@keyframes progress-left 
  0% 
    clip rect(1em .5em 1em 0)             
  50% 
    clip rect(1em .5em 1em 0)             
  100% 
    clip rect(0 .5em 1em 0)        
    
@keyframes progress-right 
  from 
    clip rect(0 1em 0em .5em)             
  to 
    clip rect(0 1em 1em .5em)        
