.icon-search
    width 1em
    height 1em
    transform rotate(-45deg)
    overflow hidden
    &:before
    &:after 
        content ''
        display block
        margin 0 auto        
    &:before 
        width (@width / 5 * 3)
        height (@height / 5 * 3)
        border .15em solid $mainColor
        border-radius 50%
    &:after
        height (@height / 5 * 2)
        width .15em
        margin-top -.03em
        border-radius .2em
        background-color $mainColor
        