.icon-search
    width 1.5em
    height 1.5em
    transform rotate(-40deg)
    &:before
    &:after 
        content ''
        display block
        margin 0 auto        
    &:before 
        width .75em
        height .75em
        border .2em solid $mainColor
        border-radius 50%
    &:after
        height .75em
        width .2em
        margin-top -.03em
        border-radius .2em
        background-color $mainColor
        