
$mainColor = #2196f3;

showContent()
    content ''
    display inline-block
    
    
[class*=icon-] 
    box-sizing border-box
    display inline-block
    // vertical-align middle
    line-height 1
    &:before
    &:after
        box-sizing border-box
        
    
@import "icons/player" 
@import "icons/search"
@import "icons/menu"
@import "icons/mail"
@import "icons/music"
@import "icons/click"